In [ ]:
employee_data = [(10,"raj","kumar","1900","100","M",2000),(20,"kumar","sani","2000","500","M",5000),(30,"Ajay","kumar","1980","400",None,3000),(40,"kumar","harris","1990","500",None,4000),(50,"Sonu","kumar","2000","600","F",6000)]

empolyee_schema = ["emplyee_id","firstname","lastname","doj","employee_dept_id","gender","salary"]

employee_DF = spark.createDataFrame(data=employee_data,schema=empolyee_schema)
display(employee_DF)

emplyee_id,firstname,lastname,doj,employee_dept_id,gender,salary
10,raj,kumar,1900,100,M,2000
20,kumar,sani,2000,500,M,5000
30,Ajay,kumar,1980,400,null,3000
40,kumar,harris,1990,500,null,4000
50,Sonu,kumar,2000,600,F,6000

In [ ]:
from pyspark.sql.functions import lit

employee_Addcolumn=employee_DF.withColumn("location",lit("Hyderabad")).show() #withcolumn("new column name",value)

+----------+---------+--------+----+----------------+------+------+---------+
|emplyee_id|firstname|lastname| doj|employee_dept_id|gender|salary| location|
+----------+---------+--------+----+----------------+------+------+---------+
|        10|      raj|   kumar|1900|             100|     M|  2000|Hyderabad|
|        20|    kumar|    sani|2000|             500|     M|  5000|Hyderabad|
|        30|     Ajay|   kumar|1980|             400|  null|  3000|Hyderabad|
|        40|    kumar|  harris|1990|             500|  null|  4000|Hyderabad|
|        50|     Sonu|   kumar|2000|             600|     F|  6000|Hyderabad|
+----------+---------+--------+----+----------------+------+------+---------+

In [ ]:
from pyspark.sql.functions import concat,lit

employee_Addcolumn=employee_DF.withColumn("Bonus",employee_DF.salary*0.10).withColumn("Name",concat("lastname",lit(" "),"firstname"))

display(employee_Addcolumn)

emplyee_id,firstname,lastname,doj,employee_dept_id,gender,salary,Bonus,Name
10,raj,kumar,1900,100,M,2000,200.0,kumar raj
20,kumar,sani,2000,500,M,5000,500.0,sani kumar
30,Ajay,kumar,1980,400,null,3000,300.0,kumar Ajay
40,kumar,harris,1990,500,null,4000,400.0,harris kumar
50,Sonu,kumar,2000,600,F,6000,600.0,kumar Sonu

In [ ]:
from pyspark.sql.functions import concat,lit

employee_Renamecolumn=employee_Addcolumn.withColumnRenamed("doj","Date of joining").withColumnRenamed("Name","Full name")

display(employee_Renamecolumn)

emplyee_id,firstname,lastname,Date of joining,employee_dept_id,gender,salary,Bonus,Full name
10,raj,kumar,1900,100,M,2000,200.0,kumar raj
20,kumar,sani,2000,500,M,5000,500.0,sani kumar
30,Ajay,kumar,1980,400,null,3000,300.0,kumar Ajay
40,kumar,harris,1990,500,null,4000,400.0,harris kumar
50,Sonu,kumar,2000,600,F,6000,600.0,kumar Sonu

In [ ]:
employee_Dropcolumn = employee_Renamecolumn.drop("Full name").show()

+----------+---------+--------+---------------+----------------+------+------+-----+
|emplyee_id|firstname|lastname|Date of joining|employee_dept_id|gender|salary|Bonus|
+----------+---------+--------+---------------+----------------+------+------+-----+
|        10|      raj|   kumar|           1900|             100|     M|  2000|200.0|
|        20|    kumar|    sani|           2000|             500|     M|  5000|500.0|
|        30|     Ajay|   kumar|           1980|             400|  null|  3000|300.0|
|        40|    kumar|  harris|           1990|             500|  null|  4000|400.0|
|        50|     Sonu|   kumar|           2000|             600|     F|  6000|600.0|
+----------+---------+--------+---------------+----------------+------+------+-----+