In [ ]:
It returns common elements across two arrays without any duplication

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import array_intersect

# Initialize Spark session
spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

# Sample Data: Employees in Team A and Team B
data = [
    ("Sales", ["John", "Alice", "Bob", "Mike"], ["Alice", "Mike", "David"]),
    ("HR", ["Emma", "Sophia", "Olivia"], ["Sophia", "Liam", "Olivia"]),
    ("IT", ["Ryan", "Noah", "Ava"], ["Mason", "Ava", "Noah"])
]

# Create DataFrame
df = spark.createDataFrame(data, ["department", "team_A", "team_B"])

# Find common employees in both teams
df = df.withColumn("common_employees", array_intersect("team_A", "team_B"))

# Show results
df.show(truncate=False)

+----------+------------------------+----------------------+----------------+
|department|team_A                  |team_B                |common_employees|
+----------+------------------------+----------------------+----------------+
|Sales     |[John, Alice, Bob, Mike]|[Alice, Mike, David]  |[Alice, Mike]   |
|HR        |[Emma, Sophia, Olivia]  |[Sophia, Liam, Olivia]|[Sophia, Olivia]|
|IT        |[Ryan, Noah, Ava]       |[Mason, Ava, Noah]    |[Noah, Ava]     |
+----------+------------------------+----------------------+----------------+