In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum,count,when

# Initialize Spark session
spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

# Sample DataFrame 
data = [
    ("John", 50, 60,70,80),
    ("Alice", 29,30,50,60),
    ("Nancy", 35, 45,65,78),
    ("Bob", 40,50,78,90),
    ("Michael", 67,87,40, 80)
]

# Create DataFrame
df = spark.createDataFrame(data, ["name", "Subject_1", "Subject_2","Subject_3","Subject_4"])
df.show()

+-------+---------+---------+---------+---------+
|   name|Subject_1|Subject_2|Subject_3|Subject_4|
+-------+---------+---------+---------+---------+
|   John|       50|       60|       70|       80|
|  Alice|       29|       30|       50|       60|
|  Nancy|       35|       45|       65|       78|
|    Bob|       40|       50|       78|       90|
|Michael|       67|       87|       40|       80|
+-------+---------+---------+---------+---------+

In [3]:
#Greatest of All Columns
from pyspark.sql.functions import greatest
greatDf = df.withColumn("Greatest",greatest("Subject_1", "Subject_2","Subject_3","Subject_4"))
greatDf.show()

+-------+---------+---------+---------+---------+--------+
|   name|Subject_1|Subject_2|Subject_3|Subject_4|Greatest|
+-------+---------+---------+---------+---------+--------+
|   John|       50|       60|       70|       80|      80|
|  Alice|       29|       30|       50|       60|      60|
|  Nancy|       35|       45|       65|       78|      78|
|    Bob|       40|       50|       78|       90|      90|
|Michael|       67|       87|       40|       80|      87|
+-------+---------+---------+---------+---------+--------+

In [4]:
#Least of all Columns
from pyspark.sql.functions import least
leastDf = df.withColumn("least",least("Subject_1", "Subject_2","Subject_3","Subject_4"))
leastDf.show()

+-------+---------+---------+---------+---------+-----+
|   name|Subject_1|Subject_2|Subject_3|Subject_4|least|
+-------+---------+---------+---------+---------+-----+
|   John|       50|       60|       70|       80|   50|
|  Alice|       29|       30|       50|       60|   29|
|  Nancy|       35|       45|       65|       78|   35|
|    Bob|       40|       50|       78|       90|   40|
|Michael|       67|       87|       40|       80|   40|
+-------+---------+---------+---------+---------+-----+

In [9]:
#Max of rows
df.agg({'Subject_1':'max','Subject_2':'max','Subject_3':'max','Subject_4':'max'}).show()

+--------------+--------------+--------------+--------------+
|max(Subject_2)|max(Subject_1)|max(Subject_4)|max(Subject_3)|
+--------------+--------------+--------------+--------------+
|            87|            67|            90|            78|
+--------------+--------------+--------------+--------------+

In [8]:
#Min of rows
df.agg({'Subject_1':'min','Subject_2':'min','Subject_3':'min','Subject_4':'min'}).show()

+--------------+--------------+--------------+--------------+
|min(Subject_2)|min(Subject_1)|min(Subject_4)|min(Subject_3)|
+--------------+--------------+--------------+--------------+
|            30|            29|            60|            40|
+--------------+--------------+--------------+--------------+