In [ ]:
The map()in PySpark is a transformation function that is used to apply a function/lambda to each element of an RDD 
(Resilient Distributed Dataset) and return a new RDD consisting of the result.
When you have complex operations to apply on an RDD, the map() transformation is defacto function. 
You can use this for simple to complex operations like deriving a new element from exising data, or transforming the data, etc;
DataFrame doesn’t have map() transformation to use with DataFrame; hence, you need to convert DataFrame to RDD first.

map() transformation works as follows
Function Application: You define a function that you want to apply to each element of the RDD.
Function Application to RDD: You call the map() transformation on the RDD and pass the function as an argument to it.
Transformation Execution: Spark applies the provided function to each element of the RDD in a distributed manner across the cluster.
New RDD Creation: The map() transformation returns a new RDD containing the results of applying the function to each element of the original RDD.

The map() transformation in PySpark processes each element independently, and by default, it does not handle the null or 
missing values. We need to handle these cases within the mapping function explicitly
The map() transformation applies a function on each element of the RDD independently, resulting in a new RDD with the same 
number of elements. Meanwhile, flatMap() can produce a variable number of output elements for each input element.

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName('SparkByExamples.com').getOrCreate()

data = ["Project",
"Gutenberg’s",
"Alice’s",
"Adventures",
"in",
"Wonderland",
"Project",
"Gutenberg’s",
"Adventures",
"in",
"Wonderland",
"Project",
"Gutenberg’s"]

rdd=spark.sparkContext.parallelize(data)

rdd2=rdd.map(lambda x: (x,1))
for element in rdd2.collect():
    print(element)
    
data = [('James','Smith','M',30),
  ('Anna','Rose','F',41),
  ('Robert','Williams','M',62), 
]

columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

rdd2=df.rdd.map(lambda x: 
    (x[0]+","+x[1],x[2],x[3]*2)
    )  
df2=rdd2.toDF(["name","gender","new_salary"]   )
df2.show()

#Referring Column Names
rdd2=df.rdd.map(lambda x: 
    (x["firstname"]+","+x["lastname"],x["gender"],x["salary"]*2)
    ) 

#Referring Column Names
rdd2=df.rdd.map(lambda x: 
    (x.firstname+","+x.lastname,x.gender,x.salary*2)
    ) 

def func1(x):
    firstName=x.firstname
    lastName=x.lastname
    name=firstName+","+lastName
    gender=x.gender.lower()
    salary=x.salary*2
    return (name,gender,salary)

rdd2=df.rdd.map(lambda x: func1(x))

('Project', 1)
('Gutenberg’s', 1)
('Alice’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)
+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|    30|
|     Anna|    Rose|     F|    41|
|   Robert|Williams|     M|    62|
+---------+--------+------+------+

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+