In [ ]:
employee_data = [(10,"raj kumar","1900","100","M",2000),(20,"kumar sani","2000","500","M",5000),(30,"Ajaykumar","1980","400",None,3000),(40,"kumarh","1990","500",None,4000),(50,"kumar","2000","600","F",6000)]

empolyee_schema = ["emplyee_id","name","doj","employee_dept_id","gender","salary"]

df1 = spark.createDataFrame(data=employee_data,schema=empolyee_schema)
display(df1)

emplyee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1900,100,M,2000
20,kumar sani,2000,500,M,5000
30,Ajaykumar,1980,400,null,3000
40,kumarh,1990,500,null,4000
50,kumar,2000,600,F,6000

In [ ]:
employee_data1 = [(10,"raj kumar","1900","100","M",2000),(20,"kumar sani","3000","500","M",6000),(100,"AjaySkumar","1980","500",None,2000),(70,"kumarhari","1990","500",None,4000),(80,"vetrikumar","2000","600","F",6000)]

empolyee_schema = ["emplyee_id","name","doj","employee_dept_id","gender","salary"]

df2 = spark.createDataFrame(data=employee_data1,schema=empolyee_schema)
display(df2)

emplyee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1900,100,M,2000
20,kumar sani,3000,500,M,6000
100,AjaySkumar,1980,500,null,2000
70,kumarhari,1990,500,null,4000
80,vetrikumar,2000,600,F,6000

In [ ]:
df3 = df1.union(df2)
display(df3)

emplyee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1900,100,M,2000
20,kumar sani,2000,500,M,5000
30,Ajaykumar,1980,400,null,3000
40,kumarh,1990,500,null,4000
50,kumar,2000,600,F,6000
10,raj kumar,1900,100,M,2000
20,kumar sani,3000,500,M,6000
100,AjaySkumar,1980,500,null,2000
70,kumarhari,1990,500,null,4000
80,vetrikumar,2000,600,F,6000

In [ ]:
df4 = df3.dropDuplicates()
display(df4)

emplyee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1900,100,M,2000
20,kumar sani,2000,500,M,5000
30,Ajaykumar,1980,400,null,3000
40,kumarh,1990,500,null,4000
50,kumar,2000,600,F,6000
20,kumar sani,3000,500,M,6000
100,AjaySkumar,1980,500,null,2000
70,kumarhari,1990,500,null,4000
80,vetrikumar,2000,600,F,6000

In [ ]:
df4 = df1.unionAll(df2)
display(df4)

emplyee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1900,100,M,2000
20,kumar sani,2000,500,M,5000
30,Ajaykumar,1980,400,null,3000
40,kumarh,1990,500,null,4000
50,kumar,2000,600,F,6000
10,raj kumar,1900,100,M,2000
20,kumar sani,3000,500,M,6000
100,AjaySkumar,1980,500,null,2000
70,kumarhari,1990,500,null,4000
80,vetrikumar,2000,600,F,6000

In [ ]:
df6 = df2.select(df2.emplyee_id,df2.name,df2.doj,df2.employee_dept_id,df2.gender)
display(df6)

emplyee_id,name,doj,employee_dept_id,gender
10,raj kumar,1900,100,M
20,kumar sani,3000,500,M
100,AjaySkumar,1980,500,null
70,kumarhari,1990,500,null
80,vetrikumar,2000,600,F

In [ ]:
df_merge = df1.union(df6)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3468587347303643>:1
----> 1 df_merge = df1.union(df6)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3646, in DataFrame.union(self, other)
   3598 def union(self, other: "DataFrame") -> "DataFrame":
   3599     """Return a new :class:`DataFrame` containing union of rows in this and another
   3600     :class:`DataFrame`.
   3601
   (...)
   3644     +----+----+----+
   3645     """
-> 3646     return DataFrame(self._jdf.union(other._jdf), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 6 columns and the second input has 5 columns.;
'Union false, false
:- LogicalRDD [emplyee_id#257L, name#258, doj#259, employee_dept_id#260, gender#261, salary#262L], false
+- Project [emplyee_id#424L, name#425, doj#426, employee_dept_id#427, gender#428]
   +- LogicalRDD [emplyee_id#424L, name#425, doj#426, employee_dept_id#427, gender#428, salary#429L], false